.theme-light {
  --md-sys-color-primary: rgb(31 92 0);
  --md-sys-color-surface-tint: rgb(38 109 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(49 134 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(62 105 42);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(195 245 166);
  --md-sys-color-on-secondary-container: rgb(43 84 24);
  --md-sys-color-tertiary: rgb(0 88 106);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(0 128 152);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(245 252 235);
  --md-sys-color-on-background: rgb(23 29 20);
  --md-sys-color-surface: rgb(245 252 235);
  --md-sys-color-on-surface: rgb(23 29 20);
  --md-sys-color-surface-variant: rgb(219 230 207);
  --md-sys-color-on-surface-variant: rgb(64 74 57);
  --md-sys-color-outline: rgb(112 122 103);
  --md-sys-color-outline-variant: rgb(191 202 180);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 40);
  --md-sys-color-inverse-on-surface: rgb(237 243 227);
  --md-sys-color-inverse-primary: rgb(124 221 79);
  --md-sys-color-primary-fixed: rgb(151 251 104);
  --md-sys-color-on-primary-fixed: rgb(7 33 0);
  --md-sys-color-primary-fixed-dim: rgb(124 221 79);
  --md-sys-color-on-primary-fixed-variant: rgb(27 82 0);
  --md-sys-color-secondary-fixed: rgb(191 241 162);
  --md-sys-color-on-secondary-fixed: rgb(7 33 0);
  --md-sys-color-secondary-fixed-dim: rgb(163 212 137);
  --md-sys-color-on-secondary-fixed-variant: rgb(39 80 20);
  --md-sys-color-tertiary-fixed: rgb(176 236 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 39);
  --md-sys-color-tertiary-fixed-dim: rgb(105 212 242);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 78 94);
  --md-sys-color-surface-dim: rgb(214 220 205);
  --md-sys-color-surface-bright: rgb(245 252 235);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 246 230);
  --md-sys-color-surface-container: rgb(234 240 224);
  --md-sys-color-surface-container-high: rgb(228 234 218);
  --md-sys-color-surface-container-highest: rgb(222 229 213);
}
